@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__brand {
    justify-self: start;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
    color: var(--primary-color);
    font-weight: 600;
  }

  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  header .logo {
    display: none;
  }
  header .logo-only {
    display: block;
  }
  .hero {
    background-image: url('/images/hero-image-small.png');
  }
  .hero__title {
    font-size: 24px;
  }
  .hero__tagline {
    font-size: 14px;
  }
  footer .footer__logo img {
    width: 100%;
  }
}

@media screen and (max-width: 1140px) {
  .detail__wrapper {
    padding: 1.5rem;
    flex-direction: column;
  }

  .detail__img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -1rem);
  }
  .detail__info ul {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 960px) {
  .col {
    flex: 100%;
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}
